---
---
#main_content_wrap {
    margin: 20px; /* Sets the outer margin */
    margin-left: auto; /* Centers the container horizontally */
    margin-right: auto; /* Centers the container horizontally */
}

#main_content {
    margin: 20px; /* Inner margin around the content */
    max-width: 800px; /* Set a max width to keep the content from stretching too wide */
    margin-left: auto; /* Centers the content within its parent */
    margin-right: auto; /* Centers the content within its parent */
    text-align: center; /* Center the text content if desired */
}
@import "{{ site.theme }}";
